extends base

block emailContent
    p Hi #{name}
        p Here are your products
        ul
            each product in products
                li 
                    h3 Product: #{product.productName}
                    h4 Unit price: #{product.unitPrice}
                    h4 Quantity: #{product.purchaseQuantity}
                    h4 Subtotal: #{product.subTotal}
        h2 Total price:
        strong #{totalPrice}
